<!DOCTYPE html>
<html lang="en">
<head>
	<title>CarSharing</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="../static/Login/images/icons/favicon.ico"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../static/Login/vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../static/Login/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../static/Login/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../static/Login/vendor/animate/animate.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../static/Login/vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../static/Login/vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../static/Login/vendor/select2/select2.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../static/Login/vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../static/Login/css/util.css">
	<link rel="stylesheet" type="text/css" href="../static/Login/css/main.css">
<!--===============================================================================================-->
	<link href="../static/slick-1.8.0/slick/slick.css" rel="stylesheet">
	<link href="../static/slick-1.8.0/slick/slick-theme.css" rel="stylesheet">
	<script src="../static/jquery-2.1.1.js"></script>
	<script src="../static/slick-1.8.0/slick/slick.min.js"></script>
	<style>
	body {
		background-color: black;
	}
	.slick-slider {
		background: #eee;
		margin-top: 20px;
		max-width: 550px;
	}
	.slick-slide {
		width: 300px;
		color: black;
	}
	img {
		width: 550px;
		height: auto;
	}

	</style>
</head>
<body >

	<div class="limiter">
		<div class="container-login100"  style="background-color: black;">
			<div class="wrap-login100">
				<form class="login100-form validate-form" action="{{ url_for('login') }}" method=post>
					<span class="login100-form-title p-b-34">
						Account Login
					</span>

					<div class="wrap-input100 rs1-wrap-input100 validate-input m-b-20" data-validate="Type user name">
						<input id="username" class="input100" type="text" name="username" placeholder="User name">
						<span class="focus-input100"></span>
					</div>
					<div class="wrap-input100 rs2-wrap-input100 validate-input m-b-20" data-validate="Type password">
						<input id="password" class="input100" type="password" name="password" placeholder="Password">
						<span class="focus-input100"></span>
					</div>

					<div class="container-login100-form-btn">
						<button class="login100-form-btn">
							Sign in
						</button>
					</div>

					<div class="w-full text-center p-t-27 p-b-239"></div>

					<div class="w-full text-center">
						<a href="{{url_for('add_clients_form')}}" class="txt3">
							Sign Up
						</a>
					</div>
				</form>


					<div class="wrapper">

						<div class="good-demo">
							<div>
								<h2><img src="../static/Login/images/1.jpg" /></h2>
							</div>
							<div>
								<h2><img src="../static/Login/images/2.jpg" /></h2>
							</div>
							<div>
								<h2><img src="../static/Login/images/3.jpg" /></h2>
							</div>
						</div>
					</div>

					<script type="text/javascript">


				      $('.good-demo').slick({
				        autoplay: true,
								autoplaySpeed: 4000,
								adaptiveheight: true
				    	});

				  </script>
				</div>
			</div>
		</div>
	</div>



	<div id="dropDownSelect1"></div>

<!--===============================================================================================-->
	<script src="../static/Login/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="../static/Login/vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script src="../static/Login/vendor/bootstrap/js/popper.js"></script>
	<script src="../static/Login/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="../static/Login/vendor/select2/select2.min.js"></script>
	<script>
		$(".selection-2").select2({
			minimumResultsForSearch: 20,
			dropdownParent: $('#dropDownSelect1')
		});
	</script>
<!--===============================================================================================-->
	<script src="../static/Login/vendor/daterangepicker/moment.min.js"></script>
	<script src="../static/Login/vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
	<script src="../static/Login/vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
	<script src="../static/Login/js/main.js"></script>

</body>
</html>
