<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Личный сайт</title>
	<link href="/static/template.css" rel="stylesheet" type="text/css">
</head>

<body>
	<div class="container">
	  <div class="header">ПРИРОДА РОССИИ</div>
	  <div class="sidebar1">
	    <ul class="nav">
				<li><a href="home">Домашняя страница</a></li>
				<li><a href="info">Информация</a></li>
				<li><a href="photos">Фото</a></li>
				<li><a href="dynamic">Динамичная страница</a></li>
				<li><a href="banners">Баннеры</a></li>
				<li><a href="search">Поиск</a></li>
				<li><a href="crypto">Серверные скрипты</a></li>
				<li><a href="notes">Динамическая страница (Заметки)</a></li>
	    </ul>
	    <!-- end .sidebar1 --></div>
	  <div class="content">
	    <h1>Байкал</h1>
	    <p>Байкал - самое глубокое озеро в мире (1642 метра). Он занимает первое
				место в мире среди пресных озер по объему пресной воды (19% мировых
				запасов). Её больше, чем во всех вместе взятых пяти Великих озерах.
				Если вдруг на Земле пропадет вся вода, Байкал сможет обеспечивать водой ч
				еловечество пять лет. </p>

			<h1>Долина гейзеров</h1>
	    <p>В Долине гейзеров около 100 гейзеров, 20 из них – большие. Они не уступают
				по размерам горячим источникам Исландии, Йеллоустонского национального
				парка и Новой Зеландии. Уникальность их в том, что они расположены на
				небольшой территории (всего 5 км вдоль реки Гейзерная). </p>

			<h1>Красноярские столбы</h1>
	    <p>Есть такое явление - «столбизм» - фанатичное стремление покорить
				красноярские скальники без страховки. Столбы расположены в 3-7 км от
				Красноярска, их больше сотни и каждый имеет свое название. Их возраст -
				500 млн лет. Высота их достигает 90 метров. Уникальность столбов в том,
				что здесь был ещё в 1925 году создан заповедник, на территории которого
				находится около 1300 видов растении, обитает 58 видов млекопитающих, живет
				199 видов птиц. Ежегодно полюбоваться Красноярскими столбами приезжает
				около 200 тысяч туристов. </p>

				<h1>Столбы выветривания</h1>
		    <p>Столбы выветривания на горе Маньпупунёр в Коми называют также «мансийскими
					балванами». Это 7 скал высотой от 32 до 42 метров. Столбами выветривания
					их называют потому, что 200 миллионов назад здесь находились горы, со
					временем они разрушились, оголив останцы твердых пород. Раньше этим
					каменным изваяниям поклонялись манси, сегодня столбы - уникальный и
					труднодоступный геологический памятник. </p>

	    <h4>&nbsp;</h4>
	    <!-- end .content --></div>
	  <div class="footer">
	    <p><em>Любое копирование материалов с этого сайта запрещено</em></p>
	  <!-- end .footer --></div>
	  <!-- end .container --></div>
</body>
</html>
