<!DOCTYPE HTML>
<html>
<head>
    <title>Курс валют</title>
    <link href="../static/template.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.5/socket.io.min.js"></script>
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function() {

            var socket = io.connect('http://127.0.0.1:5002');
            socket.on('connect', function() {
                socket.emit('my_event');
            });


            socket.on('price_responce', function(dict_prices) {
              $('#price').text('')
              for (const [key, value] of Object.entries(dict_prices)) {
                console.log(key, value);
                $('#price').append($('<div/>').text(key+ " : " + value).html() + '<br/>');
              }

              Data = new Date();
			        hour = Data.getHours();
			        minute = Data.getMinutes();
			        seconds = Data.getSeconds();
              $('#time').text(hour + " : " + minute + " : " + seconds)
            });
        });
    </script>

</head>
  <body>
	<div class="container">
  	  <div class="header"><a href="home">ПРИРОДА РОССИИ</a></div>

      <h1 style="font-size: 40pt;">Курсы валют:</h1>
      <div id="price" class="money" align="center" style="font-size: 30pt; font-family: OpenSans;"></div>
      </br>

      <h1 style="font-size: 40pt;">Время обновления:</h1>
      <div id="time" class="curr_time" align="center" style="font-size: 30pt; font-family: OpenSans;"></div>
      <br/>
      <br/>

	  <div class="footer">
	    <p><em>Любое копирование материалов с этого сайта запрещено</em></p>
	  <!-- end .footer --></div>
	  <!-- end .container --></div>
  </body>
</html>
