<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Личный сайт</title>

</head>

<body>
		<h1>КАРТА САЙТА</h1>
	    <ul>
				<li><a href="home">Домашняя страница</a></li>
	      <li><a href="info">Информация</a></li>
	      <li><a href="photos">Фото</a></li>
				<li><a href="dynamic">Динамичная страница</a></li>
				<li><a href="banners">Баннеры</a></li>
				<li><a href="search">Поиск</a></li>
				<li><a href="crypto">Серверные скрипты</a></li>
				<li><a href="notes">Динамическая страница (Заметки)</a></li>
</body>
</html>
