<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Личный сайт</title>
	<link href="/static/template.css" rel="stylesheet" type="text/css">
</head>

<body>
	<div class="container">
	  <div class="header">ПРИРОДА РОССИИ</div>
	  <div class="sidebar1">
	    <ul class="nav">
				<li><a href="home">Домашняя страница</a></li>
	      <li><a href="info">Информация</a></li>
	      <li><a href="photos">Фото</a></li>
				<li><a href="dynamic">Динамичная страница</a></li>
				<li><a href="banners">Баннеры</a></li>
				<li><a href="search">Поиск</a></li>
				<li><a href="crypto">Серверные скрипты</a></li>
				<li><a href="notes">Динамическая страница (Заметки)</a></li>
				<li><a href="http://localhost/forum/index.php">Форум</a></li>
	    </ul>
	    <!-- end .sidebar1 --></div>
	  <div class="content">
	    <h1>Байкал</h1>
			<img src="../static/images/baikal.jpg" alt="Байкал" width="500px" height="auto">

			<h1>Красноярские столбы</h1>
	    <img src="../static/images/stolb.jpg" alt="Красноярские столбы" width="500px" height="auto">

	    <h4>&nbsp;</h4>
	    <!-- end .content --></div>
	  <div class="footer">
	    <p><em>Любое копирование материалов с этого сайта запрещено</em></p>
	  <!-- end .footer --></div>
	  <!-- end .container --></div>
</body>
</html>
